<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h2>Home page</h2>
    <hr />
    Welcome to the luv2code company page!
    <hr />
    <p>
      User: <span sec:authentication="principal.username"></span> <br /><br />
      Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

    <div sec:authorize="hasRole('MANAGER')">
      <hr />
      <a th:href="@{/leaders}">Leadership Meeting</a> (Only for Manager peeps).
    </div>
    <br />

    <div sec:authorize="hasRole('ADMIN')">
      <hr />
      <a th:href="@{/systems}">IT Systems Meeting</a> (Only for Admin peeps).
    </div>
    <hr />

    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Logout" />
    </form>
  </body>
</html>
